* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}


.navbar-container {
  display: flex;
  align-items: center;
  height: 20vh;
  padding: 20px 7%;
}

.navbar-container img {
  margin-right: 60px;
}

.list {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.list-item {
  margin-right: 40px;
  color: #BCBCBC;
}

.list-item:first-child {
  color: #000000;
  font-weight: 500;
}

.button-group {
  margin-left: auto;
}

.nav-button {
  width: 140px;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #5955B3;
  border-radius: 10px;
  cursor: pointer;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-container div:first-child {
  padding: 0px 7%;
  width: 40%;
}

.heading-text {
  color: #3C2F60;
  font-size: 60px;
}

.heading-text span {
  color: #5955B3;
}

.description {
  color: #979595;
  margin-top: 10px;
  width: 400px;
}

.nav-button.btn {
  width: 200px;
  height: 60px;
  margin-top: 70px;
}